# {{ ansible_managed }}

# set max upload
client_max_body_size 128M;

log_format vhost_combined '$remote_addr $host $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" $request_time';