; {{ ansible_managed }}

; Increase our upload limits
post_max_size = 0 ;unlimited
upload_max_filesize = 32M

; Hide PHP X-Powered-By
expose_php = off

; Turn of CGI path info as we make nginx do the right thing.
cgi.fix_pathinfo = 0

[XDebug]
xdebug.remote_enable=1
xdebug.profiler_trigger=0
xdebug.remote_connect_back=1