; {{ ansible_managed }}

[allsites]
listen = 127.0.0.1:9000
user = vagrant ;www-data
group = vagrant ;www-data

listen.allowed_clients = 127.0.0.1

pm = dynamic
pm.max_children = 5
pm.start_servers = 3
pm.min_spare_servers = 2
pm.max_spare_servers = 4
pm.max_requests = 200

request_terminate_timeout = 120s

catch_workers_output = yes

env[ENVIRONMENT] = development

php_admin_value[error_log] = /var/log/php5-fpm-error.log
